@charset "UTF-8";
*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0 !important; }

hr {
  margin: 1rem 0;
  color: inherit;
  background-color: currentColor;
  border: 0;
  opacity: 0.25; }

hr:not([size]) {
  height: 1px; }

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  -webkit-text-decoration-skip-ink: none;
          text-decoration-skip-ink: none; }

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit; }

ol,
ul {
  padding-left: 2rem; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem; }

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0; }

dt {
  font-weight: 700; }

dd {
  margin-bottom: .5rem;
  margin-left: 0; }

blockquote {
  margin: 0 0 1rem; }

b,
strong {
  font-weight: bolder; }

small {
  font-size: 0.875em; }

sub,
sup {
  position: relative;
  font-size: 0.75em;
  line-height: 0;
  vertical-align: baseline; }

sub {
  bottom: -.25em; }

sup {
  top: -.5em; }

a {
  color: #0d6efd;
  text-decoration: none; }
  a:hover {
    color: #024dbc;
    text-decoration: underline; }

a:not([href]), a:not([href]):hover {
  color: inherit;
  text-decoration: none; }

pre,
code,
kbd,
samp {
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  font-size: 1em; }

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  font-size: 0.875em; }
  pre code {
    font-size: inherit;
    color: inherit;
    word-break: normal; }

code {
  font-size: 0.875em;
  color: #d63384;
  word-wrap: break-word; }
  a > code {
    color: inherit; }

figure {
  margin: 0 0 1rem; }

img {
  vertical-align: middle; }

svg {
  overflow: hidden;
  vertical-align: middle; }

table {
  border-collapse: collapse; }

caption {
  padding-top: .5rem;
  padding-bottom: .5rem;
  color: #6c757d;
  text-align: left;
  caption-side: bottom; }

th {
  text-align: inherit; }

label {
  display: inline-block;
  margin-bottom: .5rem; }

button {
  border-radius: 0; }

button:focus {
  outline: none; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button,
select {
  text-transform: none; }

select {
  word-wrap: normal; }

[list]::-webkit-calendar-picker-indicator {
  display: none; }

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button; }
  button:not(:disabled),
  [type="button"]:not(:disabled),
  [type="reset"]:not(:disabled),
  [type="submit"]:not(:disabled) {
    cursor: pointer; }

::-moz-focus-inner {
  padding: 0;
  border-style: none; }

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: textfield; }

textarea {
  overflow: auto;
  resize: vertical; }

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0; }

legend {
  float: left;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal; }

mark {
  padding: 0.2em;
  background-color: #fcf8e3; }

progress {
  vertical-align: baseline; }

::-webkit-datetime-edit {
  overflow: visible;
  line-height: 0; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: textfield; }

::-webkit-search-decoration {
  -webkit-appearance: none; }

::-webkit-color-swatch-wrapper {
  padding: 0; }

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button; }

output {
  display: inline-block; }

summary {
  display: list-item;
  cursor: pointer; }

template {
  display: none; }

main {
  display: block; }

[hidden] {
  display: none !important; }

.zoom-in-top-enter {
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0); }

.zoom-in-top-enter-active {
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  -webkit-transform-origin: center top;
          transform-origin: center top; }

.zoom-in-top-exit {
  opacity: 1; }

.zoom-in-top-exit-active {
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  -webkit-transform-origin: center top;
          transform-origin: center top; }

.zoom-in-left-enter {
  opacity: 0;
  -webkit-transform: scale(0.45, 0.45);
          transform: scale(0.45, 0.45); }

.zoom-in-left-enter-active {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  -webkit-transform-origin: top left;
          transform-origin: top left; }

.zoom-in-left-exit {
  opacity: 1; }

.zoom-in-left-exit-active {
  opacity: 0;
  -webkit-transform: scale(0.45, 0.45);
          transform: scale(0.45, 0.45);
  -webkit-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  -webkit-transform-origin: top left;
          transform-origin: top left; }

.zoom-in-right-enter {
  opacity: 0;
  -webkit-transform: scale(0.45, 0.45);
          transform: scale(0.45, 0.45); }

.zoom-in-right-enter-active {
  opacity: 1;
  -webkit-transform: scale(1, 1);
          transform: scale(1, 1);
  -webkit-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  -webkit-transform-origin: top right;
          transform-origin: top right; }

.zoom-in-right-exit {
  opacity: 1; }

.zoom-in-right-exit-active {
  opacity: 0;
  -webkit-transform: scale(0.45, 0.45);
          transform: scale(0.45, 0.45);
  -webkit-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  -webkit-transform-origin: top right;
          transform-origin: top right; }

.zoom-in-bottom-enter {
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0); }

.zoom-in-bottom-enter-active {
  opacity: 1;
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
  -webkit-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom; }

.zoom-in-bottom-exit {
  opacity: 1; }

.zoom-in-bottom-exit-active {
  opacity: 0;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  transition: transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, opacity 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms, -webkit-transform 300ms cubic-bezier(0.23, 1, 0.32, 1) 100ms;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom; }

.btn {
  position: relative;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  white-space: nowrap;
  text-align: center;
  vertical-align: middle;
  background-image: none;
  border: 1px solid transparent;
  outline: none;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075);
  cursor: pointer;
  -webkit-transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  .btn.disabled, .btn[disabled] {
    cursor: not-allowed;
    opacity: 0.65;
    box-shadow: none; }
    .btn.disabled > *, .btn[disabled] > * {
      pointer-events: none; }

.btn-lg {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem; }

.btn-sm {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem; }

.btn-primary {
  color: #fff;
  background: #0d6efd;
  border-color: #0d6efd; }
  .btn-primary:hover {
    color: #fff;
    background: #3385fd;
    border-color: #408cfd; }
  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background: #3385fd;
    border-color: #408cfd; }
  .btn-primary:disabled, .btn-primary.disabled {
    color: #fff;
    background: #0d6efd;
    border-color: #0d6efd; }

.btn-danger {
  color: #fff;
  background: #dc3545;
  border-color: #dc3545; }
  .btn-danger:hover {
    color: #fff;
    background: #e25663;
    border-color: #e4606d; }
  .btn-danger:focus, .btn-danger.focus {
    color: #fff;
    background: #e25663;
    border-color: #e4606d; }
  .btn-danger:disabled, .btn-danger.disabled {
    color: #fff;
    background: #dc3545;
    border-color: #dc3545; }

.btn-default {
  color: #212529;
  background: #fff;
  border-color: #ced4da; }
  .btn-default:hover {
    color: #0d6efd;
    background: #fff;
    border-color: #0d6efd; }
  .btn-default:focus, .btn-default.focus {
    color: #0d6efd;
    background: #fff;
    border-color: #0d6efd; }
  .btn-default:disabled, .btn-default.disabled {
    color: #212529;
    background: #fff;
    border-color: #ced4da; }

.btn-link {
  font-weight: 400;
  color: #0d6efd;
  text-decoration: none;
  box-shadow: none; }
  .btn-link:hover {
    color: #024dbc;
    text-decoration: underline; }
  .btn-link:focus, .btn-link.focus {
    text-decoration: underline;
    box-shadow: none; }
  .btn-link:disabled, .btn-link.disabled {
    color: #6c757d;
    pointer-events: none; }

.yxui-menu {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 30px;
  list-style: none;
  border-bottom: 1px solid #dee2e6;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 1px 1px rgba(0, 0, 0, 0.075); }
  .yxui-menu > .menu-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    -webkit-transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out; }
    .yxui-menu > .menu-item:hover, .yxui-menu > .menu-item:focus {
      text-decoration: none; }
    .yxui-menu > .menu-item.is-disabled {
      color: #6c757d;
      pointer-events: none;
      cursor: default; }
    .yxui-menu > .menu-item.is-active, .yxui-menu > .menu-item:hover {
      color: #0d6efd;
      border-bottom: 2px solid #0d6efd; }
  .yxui-menu .submenu-item {
    position: relative; }
    .yxui-menu .submenu-item .submenu-title {
      display: flex;
      align-items: center; }
    .yxui-menu .submenu-item .arrow-icon {
      -webkit-transition: -webkit-transform .25s ease-in-out;
      transition: -webkit-transform .25s ease-in-out;
      transition: transform .25s ease-in-out;
      transition: transform .25s ease-in-out, -webkit-transform .25s ease-in-out;
      margin-left: 3px; }
    .yxui-menu .submenu-item:hover .arrow-icon {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg); }
  .yxui-menu .is-vertical .arrow-icon {
    -webkit-transform: rotate(0deg) !important;
            transform: rotate(0deg) !important; }
  .yxui-menu .is-vertical.is-opened .arrow-icon {
    -webkit-transform: rotate(180deg) !important;
            transform: rotate(180deg) !important; }
  .yxui-menu .yxui-submenu {
    list-style: none;
    padding-left: 0;
    white-space: nowrap; }
    .yxui-menu .yxui-submenu .menu-item {
      padding: 0.5rem 1rem;
      cursor: pointer;
      -webkit-transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
      color: #212529; }
      .yxui-menu .yxui-submenu .menu-item.is-active, .yxui-menu .yxui-submenu .menu-item:hover {
        color: #0d6efd !important; }

.menu-horizontal > .menu-item {
  border-bottom: 2px solid transparent; }

.menu-horizontal .yxui-submenu {
  position: absolute;
  background: #fff;
  z-index: 100;
  top: calc(100% + 8px);
  left: 0;
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04); }

.menu-vertical {
  flex-direction: column;
  border-bottom: 0px;
  margin: 10px 20px;
  border-right: 1px solid #dee2e6; }
  .menu-vertical > .menu-item {
    border-left: 2px solid transparent; }
    .menu-vertical > .menu-item.is-active, .menu-vertical > .menu-item:hover {
      border-bottom: 0px;
      border-left: 2px solid #0d6efd; }

.icon-primary {
  color: #0d6efd; }

.icon-secondary {
  color: #6c757d; }

.icon-success {
  color: #52c41a; }

.icon-info {
  color: #17a2b8; }

.icon-warning {
  color: #fadb14; }

.icon-danger {
  color: #dc3545; }

.icon-light {
  color: #f8f9fa; }

.icon-dark {
  color: #343a40; }

.viking-input-wrapper {
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  position: relative; }
  .viking-input-wrapper .icon-wrapper {
    position: absolute;
    height: 100%;
    width: 35px;
    justify-content: center;
    color: #495057;
    right: 0;
    top: 0;
    display: flex;
    align-items: center; }
    .viking-input-wrapper .icon-wrapper svg {
      color: #6c757d; }

.icon-wrapper + .viking-input-inner {
  padding-right: 35px; }

.viking-input-inner {
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075);
  -webkit-transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out; }
  .viking-input-inner:focus {
    color: #495057;
    background-color: #fff;
    border-color: #8bbafe;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(13, 110, 253, 0.25); }
  .viking-input-inner::-webkit-input-placeholder {
    color: #6c757d;
    opacity: 1; }
  .viking-input-inner::-moz-placeholder {
    color: #6c757d;
    opacity: 1; }
  .viking-input-inner:-ms-input-placeholder {
    color: #6c757d;
    opacity: 1; }
  .viking-input-inner::-ms-input-placeholder {
    color: #6c757d;
    opacity: 1; }
  .viking-input-inner::placeholder {
    color: #6c757d;
    opacity: 1; }
  .viking-input-inner:disabled, .viking-input-inner[readonly] {
    background-color: #e9ecef;
    opacity: 1; }

.viking-input-group-prepend,
.viking-input-group-append {
  display: flex;
  align-items: center;
  padding: 0.375rem 0.75rem;
  margin-bottom: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;
  border: 1px solid #ced4da;
  border-radius: 0.25rem; }

.viking-input-group-append + .btn {
  padding: 0;
  border: 0; }

.input-group > .viking-input-group-prepend,
.input-group.input-group-append > .viking-input-inner {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.input-group > .viking-input-group-append,
.input-group.input-group-prepend > .viking-input-inner {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

.input-size-sm .viking-input-inner {
  padding: 0.25rem 0.5rem;
  font-size: 0.875rem;
  border-radius: 0.2rem; }

.input-size-lg .viking-input-inner {
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: 0.3rem; }

.viking-auto-complete {
  position: relative; }

.viking-suggestion-list {
  list-style: none;
  padding-left: 0;
  white-space: nowrap;
  position: absolute;
  background: #fff;
  z-index: 100;
  top: calc(100% + 8px);
  left: 0;
  border: 1px solid #dee2e6;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.12), 0 0 6px 0 rgba(0, 0, 0, 0.04);
  width: 100%; }
  .viking-suggestion-list .suggstions-loading-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 75px; }
  .viking-suggestion-list .suggestion-item {
    padding: 0.5rem 1rem;
    cursor: pointer;
    -webkit-transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, border-color 0.15s ease-in-out;
    color: #212529; }
    .viking-suggestion-list .suggestion-item.is-active {
      background: #0d6efd !important;
      color: #fff !important; }
    .viking-suggestion-list .suggestion-item:hover {
      color: #0d6efd !important; }

.viking-upload-list {
  margin: 0;
  padding: 0;
  list-style-type: none; }

.viking-uploader-dragger {
  background: #f8f9fa;
  border: 1px dashed #dee2e6;
  border-radius: 4px;
  cursor: pointer;
  padding: 20px;
  width: 360px;
  height: 180px;
  text-align: center; }
  .viking-uploader-dragger:hover {
    border: 1px dashed #0d6efd; }
  .viking-uploader-dragger.is-dragover {
    border: 2px dashed #0d6efd;
    background: rgba(13, 110, 253, 0.2); }

.viking-upload-list-item {
  -webkit-transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  transition: all 0.5s cubic-bezier(0.55, 0, 0.1, 1);
  font-size: 14px;
  line-height: 1.8;
  margin-top: 5px;
  box-sizing: border-box;
  border-radius: 4px;
  min-width: 200px;
  position: relative; }
  .viking-upload-list-item:first-child {
    margin-top: 10px; }
  .viking-upload-list-item .file-name {
    margin-left: 5px;
    margin-right: 40px; }
    .viking-upload-list-item .file-name svg {
      margin-right: 5px;
      color: #adb5bd; }
  .viking-upload-list-item .file-name-error {
    color: #dc3545; }
    .viking-upload-list-item .file-name-error svg {
      color: #dc3545; }
  .viking-upload-list-item .file-status {
    display: block;
    position: absolute;
    right: 5px;
    top: 0;
    line-height: inherit; }
  .viking-upload-list-item .file-actions {
    display: none;
    position: absolute;
    right: 7px;
    top: 0;
    line-height: inherit;
    cursor: pointer; }
  .viking-upload-list-item:hover {
    background-color: #e9ecef; }
    .viking-upload-list-item:hover .file-status {
      display: none; }
    .viking-upload-list-item:hover .file-actions {
      display: block; }

.viking-progress-bar {
  width: 100%;
  box-sizing: border-box; }
  .viking-progress-bar .viking-progress-bar-outer {
    border-radius: 0.25rem;
    background-color: #e9ecef;
    overflow: hidden;
    position: relative; }
  .viking-progress-bar .viking-progress-bar-inner {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    border-radius: 0.25rem;
    line-height: 1;
    -webkit-transition: width 0.6s ease;
    transition: width 0.6s ease; }
    .viking-progress-bar .viking-progress-bar-inner .inner-text {
      color: #fff;
      font-size: 0.75rem;
      margin: 0 5px; }
  .viking-progress-bar .color-primary {
    background-color: #0d6efd; }
  .viking-progress-bar .color-secondary {
    background-color: #6c757d; }
  .viking-progress-bar .color-success {
    background-color: #52c41a; }
  .viking-progress-bar .color-info {
    background-color: #17a2b8; }
  .viking-progress-bar .color-warning {
    background-color: #fadb14; }
  .viking-progress-bar .color-danger {
    background-color: #dc3545; }
  .viking-progress-bar .color-light {
    background-color: #f8f9fa; }
  .viking-progress-bar .color-dark {
    background-color: #343a40; }

.yuexun-preview-list {
  font-weight: 300; }
  .yuexun-preview-list .item {
    display: flex;
    align-items: center;
    padding: 2px 6px;
    color: #0d6efd;
    font-size: 13px;
    cursor: pointer; }
    .yuexun-preview-list .item svg {
      font-size: 12px; }
  .yuexun-preview-list .item:hover {
    background-color: #f2f2f2; }

.yuexun-preview-picture {
  display: flex; }
  .yuexun-preview-picture .item {
    width: 100px;
    height: 100px;
    padding: 4px;
    border-radius: 0.25rem;
    border: 1px solid #dee2e6;
    cursor: pointer;
    margin: 0 10px 10px 0; }
  .yuexun-preview-picture .item > img {
    width: 100%;
    height: 100%; }
  .yuexun-preview-picture .item:hover {
    background-color: #f2f2f2; }

.rc-dialog {
  position: relative;
  width: auto;
  margin: 10px; }

.rc-dialog-wrap {
  position: fixed;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1050;
  -webkit-overflow-scrolling: touch;
  outline: 0; }

.rc-dialog-title {
  margin: 0;
  font-size: 14px;
  line-height: 21px;
  font-weight: bold; }

.rc-dialog-content {
  position: relative;
  background-color: #ffffff;
  border: none;
  border-radius: 6px 6px;
  background-clip: padding-box; }

.rc-dialog-close {
  cursor: pointer;
  border: 0;
  background: transparent;
  font-size: 21px;
  position: absolute;
  right: 20px;
  top: 12px;
  font-weight: 700;
  line-height: 1;
  color: #000;
  text-shadow: 0 1px 0 #fff;
  filter: alpha(opacity=20);
  opacity: .2;
  text-decoration: none; }

.rc-dialog-close-x:after {
  content: '×'; }

.rc-dialog-close:hover {
  opacity: 1;
  filter: alpha(opacity=100);
  text-decoration: none; }

.rc-dialog-header {
  padding: 13px 20px 14px 20px;
  border-radius: 5px 5px 0 0;
  background: #fff;
  color: #666;
  border-bottom: 1px solid #e9e9e9; }

.rc-dialog-body {
  padding: 20px; }

.rc-dialog-footer {
  border-top: 1px solid #e9e9e9;
  padding: 10px 20px;
  text-align: right;
  border-radius: 0 0 5px 5px; }

.rc-dialog-zoom-enter,
.rc-dialog-zoom-appear {
  opacity: 0;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
          animation-timing-function: cubic-bezier(0.08, 0.82, 0.17, 1);
  -webkit-animation-play-state: paused;
          animation-play-state: paused; }

.rc-dialog-zoom-leave {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
          animation-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.34);
  -webkit-animation-play-state: paused;
          animation-play-state: paused; }

.rc-dialog-zoom-enter.rc-dialog-zoom-enter-active,
.rc-dialog-zoom-appear.rc-dialog-zoom-appear-active {
  -webkit-animation-name: rcDialogZoomIn;
          animation-name: rcDialogZoomIn;
  -webkit-animation-play-state: running;
          animation-play-state: running; }

.rc-dialog-zoom-leave.rc-dialog-zoom-leave-active {
  -webkit-animation-name: rcDialogZoomOut;
          animation-name: rcDialogZoomOut;
  -webkit-animation-play-state: running;
          animation-play-state: running; }

@-webkit-keyframes rcDialogZoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@keyframes rcDialogZoomIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); }
  100% {
    opacity: 1;
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); } }

@-webkit-keyframes rcDialogZoomOut {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); } }

@keyframes rcDialogZoomOut {
  0% {
    -webkit-transform: scale(1, 1);
            transform: scale(1, 1); }
  100% {
    opacity: 0;
    -webkit-transform: scale(0, 0);
            transform: scale(0, 0); } }

@media (min-width: 768px) {
  .rc-dialog {
    width: 600px;
    margin: 30px auto; } }

.rc-dialog-mask {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: #373737;
  background-color: rgba(55, 55, 55, 0.6);
  height: 100%;
  filter: alpha(opacity=50);
  z-index: 1050; }

.rc-dialog-mask-hidden {
  display: none; }

.rc-dialog-fade-enter,
.rc-dialog-fade-appear {
  opacity: 0;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-play-state: paused;
          animation-play-state: paused; }

.rc-dialog-fade-leave {
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
          animation-timing-function: cubic-bezier(0.55, 0, 0.55, 0.2);
  -webkit-animation-play-state: paused;
          animation-play-state: paused; }

.rc-dialog-fade-enter.rc-dialog-fade-enter-active,
.rc-dialog-fade-appear.rc-dialog-fade-appear-active {
  -webkit-animation-name: rcDialogFadeIn;
          animation-name: rcDialogFadeIn;
  -webkit-animation-play-state: running;
          animation-play-state: running; }

.rc-dialog-fade-leave.rc-dialog-fade-leave-active {
  -webkit-animation-name: rcDialogFadeOut;
          animation-name: rcDialogFadeOut;
  -webkit-animation-play-state: running;
          animation-play-state: running; }

@-webkit-keyframes rcDialogFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes rcDialogFadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@-webkit-keyframes rcDialogFadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

@keyframes rcDialogFadeOut {
  0% {
    opacity: 1; }
  100% {
    opacity: 0; } }

.yxui-editor {
  border: 1px solid #e0e0e0; }

.yxui-CustomForm {
  display: flex; }
  .yxui-CustomForm .leftMenu {
    width: 200px;
    margin-right: 20px;
    border: 1px solid #e0e0e0; }
    .yxui-CustomForm .leftMenu .left-menu-header {
      height: 32px;
      line-height: 32px;
      padding-left: 10px;
      background-color: #e0e0e0;
      position: relative;
      cursor: pointer; }
    .yxui-CustomForm .leftMenu .left-menu-body {
      padding: 10px; }
      .yxui-CustomForm .leftMenu .left-menu-body .column {
        border: 1px solid #e0e0e0;
        margin-bottom: 10px;
        height: 30px; }
      .yxui-CustomForm .leftMenu .left-menu-body .two-column div:not(:last-child) {
        height: 30px;
        width: 50%;
        display: inline-block;
        border-right: 1px solid #e0e0e0; }
      .yxui-CustomForm .leftMenu .left-menu-body .three-column div:not(:last-child) {
        height: 30px;
        width: 33.3%;
        display: inline-block;
        border-right: 1px solid #e0e0e0; }
      .yxui-CustomForm .leftMenu .left-menu-body .active {
        border: 1px #3399CC dashed;
        background-color: #99CCFF; }
  .yxui-CustomForm .rightContainer {
    flex: 1 1;
    border: 1px solid #e0e0e0;
    padding: 10px; }
    .yxui-CustomForm .rightContainer .container {
      min-height: 200px;
      padding-bottom: 100px; }
    .yxui-CustomForm .rightContainer .active {
      border: 1px #3399CC dashed; }

.yxui-custom-right {
  min-height: 100px;
  border: 1px solid #e0e0e0;
  margin-bottom: 10px;
  display: flex; }
  .yxui-custom-right .item {
    flex-wrap: nowrap;
    width: 100%; }
  .yxui-custom-right .item:not(:last-child) {
    border-right: 1px solid #e0e0e0; }


/*# sourceMappingURL=main.css.map*/